<table cellpadding="0" cellspacing="5" border="0" width="100%">
  <tr>
    <td rowspan="2" style="vertical-align:top;width:270px;"><a href="[IMAGELINK]" rel="lightbox">[IMAGE:270]</a></td>
	<td style="vertical-align:top;padding-left:10px;text-align:left"><h3>[TITLE]</h3>[PRODUCTDESCRIPTION]</p></td>
  </tr>
  <tr>
    <td style="vertical-align:bottom">
		<div align="right" style="padding-left:10px;">
			<table cellpadding="0" cellspacing="0" border="0" class="bbstore-product-cartbox">
				<tr>
					<td colspan="2">[PRODUCTOPTIONS]</td>
				</tr>
				<tr>
					<td colspan="2" class="NormalRed">[MANDATORYERROR]</td>
				</tr>
				<tr>
					<td style="white-space:nowrap"><span style="text-decoration:line-through;color:red;font-size:16px;">[ORIGINALPRICE]</span><br />
					<span class="bbstore-product-price-mm" style="font-size:36px; white-space:nowrap">[PRICE] [CURRENCY]&nbsp;&nbsp;</span></td>
					<td rowspan="2" style="vertical-align:middle; text-align:center; padding-left:5px;white-space:nowrap">[AMOUNT]&nbsp;[UNIT]&nbsp;[ADDCARTIMAGE]<br />[ADDCARTLINK]</td>
				</tr>
				<tr>
					<td>[TAX]</td>
				</tr>
			</table>
		</div>
	</td>
  </tr>
</table>
