<div style="float: left; margin-right: 10px;">
<div style="width: 80px; min-height: 80px; background-color: #ffffff; border: 1px solid #cccccc; padding: 10px; margin-right: 10px;">	[IMAGE:80]</div>
</div>
<div style="padding-top: 10px;">
<h3>[TITLE]</h3>
<span style="font-weight: bold;">[RESOURCE:ItemNo.Text] [ITEMNO]</span><br />
<span style="font-size: x-small;">[PRODUCTSHORTDESCRIPTION]</span>
</div>
<div style="float: right;">
<span style="font-size: small; font-weight: bold; color: red;">&gt;&gt; <span style="text-decoration: line-through;">[ORIGINALPRICE]</span></span> <span style="font-size: small; font-weight: bold;">[PRICE] [CURRENCY]</span><br />
<span style="font-size: x-small;">[TAX]</span>
</div>
<div style="clear: both;"></div>
<hr />