<html>
    <head>
        <style type="text/css">
            .Normal
            {
            font-family: Verdana, Arial, Helvetica, sans-serif;
            font-size: 12px;
            }
            .SubHead
            {
            font-family: Verdana, Arial, Helvetica, sans-serif;
            }
        </style>
    </head>
    <body>
        <table width="100%" cellspacing="0" cellpadding="10" border="0" align="center">
            <tbody>
                <tr valign="top">
                    <td align="left" style="width: 50%;" class="Normal">[BBSTORE-VENDORNAME]<br />
                    [BBSTORE-VENDORSTREET1]<br />
                    [BBSTORE-VENDORSTREET2]<br />
                    [BBSTORE-VENDORZIP] [BBSTORE-VENDORCITY]</td>
                    <td align="right" style="width: 50%;">[BBSTORE-VENDORIMAGE]</td>
                </tr>
                <tr>
                    <td colspan="2" class="Normal">
                    [BBSTORE-HEADERMESSAGE]
                    </td>
                </tr>
                <tr bgcolor="white">
                    <td colspan="2">
                    <h3 class="SubHead">[BBSTORE-ORDERTEXT]</h3>
                    </td>
                </tr>
            </tbody>
        </table>
        <table width="100%" cellspacing="0" cellpadding="2" border="0">
            <tbody>
                <tr bgcolor="#CCCCCC">
                    <td colspan="2" class="SubHead"><strong>[BBSTORE-INFOTEXT]</strong></td>
                </tr>
                <tr class="Normal">
                    <td>[BBSTORE-REQUESTNOTEXT] :</td>
                    <td>[BBSTORE-REQUESTNO]</td>
                </tr>
                <tr class="Normal">
                    <td>[BBSTORE-REQUESTDATETEXT]:</td>
                    <td>[BBSTORE-REQUESTDATE]</td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
                <tr bgcolor="#CCCCCC">
                    <td colspan="2"><strong class="SubHead">[BBSTORE-ADDRESSINFOTEXT]</strong></td>
                </tr>
                <tr valign="top">
                    <td colspan="2">
                    <table width="100%" cellspacing="0" cellpadding="2" border="0">
                        <tbody>
                            <tr class="Normal">
                                <td>[BBSTORE-FIRMATEXT] :</td>
                                <td>[BBSTORE-REQCOMPANY]</td>
                            </tr>
                            <tr class="Normal">
                                <td>[BBSTORE-NAMETEXT] :</td>
                                <td>[BBSTORE-REQNAME]</td>
                            </tr>
                            <tr valign="top" class="Normal">
                                <td>[BBSTORE-ADDRESSTEXT] :</td>
                                <td>[BBSTORE-REQSTREET]</td>
                            </tr>
                            <tr class="Normal">
                                <td>[BBSTORE-CITYTEXT] :</td>
                                <td>[BBSTORE-REQCITY]</td>
                            </tr>
                            <tr class="Normal">
                                <td>[BBSTORE-ZIPTEXT] :</td>
                                <td>[BBSTORE-REQZIP]</td>
                            </tr>
                            <tr class="Normal">
                                <td>[BBSTORE-COUNTRYTEXT]</td>
                                <td>[BBSTORE-REQCOUNTRY]</td>
                            </tr>
                            <tr class="Normal">
                                <td>[BBSTORE-PHONETEXT]:</td>
                                <td>[BBSTORE-REQPHONE]</td>
                            </tr>
                            <tr class="Normal">
                                <td>[BBSTORE-CELLTEXT]:</td>
                                <td>[BBSTORE-REQCELL]</td>
                            </tr>
                            <tr class="Normal">
                                <td>[BBSTORE-FAXTEXT] :</td>
                                <td>[BBSTORE-REQFAX]</td>
                            </tr>
                            <tr class="Normal">
                                <td>[BBSTORE-EMAILTEXT] :</td>
                                <td>[BBSTORE-REQEMAIL]</td>
                            </tr>
                        </tbody>
                    </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
                <tr bgcolor="#CCCCCC" class="SubHead">
                    <td colspan="2"><strong>[BBSTORE-PRODUCTSTEXT]</strong></td>
                </tr>
                <tr>
                    <td colspan="2">
                    [BBSTORE-REQUESTITEMS]
                    <table width="100%" cellspacing="0" cellpadding="2" border="0">
                    </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
                <tr bgcolor="#CCCCCC">
                    <td colspan="2"><strong class="SubHead">[BBSTORE-COMMENTSTEXT]</strong></td>
                </tr>
                <tr>
                    <td colspan="2" class="Normal">
                    [BBSTORE-COMMENT]
                    </td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
            </tbody>
        </table>
        <br />
        <p class="Normal" style="color: Red;">
        [BBSTORE-FOOTERMESSAGE]
        </p>
    </body>
</html>